body {
  font-family: Arial, sans-serif;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #3f3b3b;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #121212;
}

.caption {
  text-align: center;
  margin-top: 20px;
}
